.details-page-container {
    display: flex;
    height: -webkit-fill-available;
    margin-top: 50px;
    justify-content: center;
    overflow: hidden;
}
.details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
}
.background-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 28px;
}
.border-details-container {
    border-radius: 20px;
    border: 2px rgb(255, 253, 222) dashed;
    padding: 50px;
    width: fit-content;
}
.details-header {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.details-body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: -webkit-fill-available;
}
.detail-image {
    max-width: 600px;
    max-height: 400px;
}
.desc-text {
    max-width: 400px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-right: 50px;
    font-size: 1.5rem;
}
.detail-element {
    margin-bottom: 1rem;
}
.edit-mode {
    display: flex;
    align-items: flex-start;
}
.edit-mode-back-button {
    margin: 15px;
}
.details-buttons-container {
    position: relative;
    top: -220px;
    left: -20px;
}
.details-button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
}
.svg-icon {
    transform: scale(.85);
}
.details-button path {
    fill: rgba(255, 255, 255, 0.5);
}
.tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: fit-content;
    background-color: rgba(0, 0, 0,0.8);
    border-radius: 8px;
    padding: 4px 8px;
    margin-left: 5px;
    margin-top: 7px;
    font-size: 0.9rem;
    z-index: 1;
    transition-delay: .3s;
    transition-property: visibility;
}
.details-button:hover span {
    opacity: 1;
    visibility: visible;
}
.back-button {
    top: 0px;
}
.back-button:hover path {
    fill: rgba(255, 255, 255, 1);
}
.delete-button {
    top: 20px;
}
.delete-button:hover path {
    fill: #ffacac;
}
.edit-button {
    top: 10px;
}
.edit-button:hover path {
    fill: #c1bcf8;
}
