.details-page-container {
    height: -webkit-fill-available;
    margin-top: 50px;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ascii {
    text-align: center;
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace;
}
.status-error-message{
    font-family: "Courier New", Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    font-size: 1.3rem;
    color: brown;
}
.status-error-message span {
    font-size: 1.4rem;
    cursor: pointer;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: -webkit-fill-available;
}
.background-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 28px;
    position: relative;
}
.border-details-container {
    border-radius: 20px;
    border: 2px rgb(255, 253, 222) dashed;
    padding: 50px;
}
.details-header {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    transition: all .2s linear;
}
.details-header h1 {
    text-align: center;
    transition: all .2s linear;
}

.details-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
}
.detail-image {
    max-height: 450px;
    max-width: -webkit-fill-available;
}
.desc-text {
    max-width: 500px;
    height: fit-content;
}
.details {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: -webkit-fill-available;;
    height: fit-content;
    margin-right: 50px;
    margin-top: 1rem;
}
.detail-element {
    margin-bottom: 1rem;
}
.icon-stars {
    position: absolute;
    top: 30px;
    left: 30px;
}
.icon-stars path {
    fill: #E7FBBE;
}

.details-buttons-container {
    position: fixed;
    top: 240px;
    left: 24px;
}
.details-button {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    height: 50px;
    top: 0px;
    left: 0px;
    transition: background-color 2s;
}
.svg-icon {
    transform: scale(.85);
}
.details-button path {
    fill: rgba(255, 255, 255, 0.5);
}
.tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    width: fit-content;
    background-color: rgba(0, 0, 0,0.8);
    border-radius: 8px;
    padding: 4px 8px;
    margin-left: 5px;
    margin-top: 7px;
    font-size: 0.9rem;
    z-index: 1;
    transition-delay: .3s;
    transition-property: visibility;
}
.details-button:hover span {
    opacity: 1;
    visibility: visible;
}
.back-button {
    top: 0px;
}
.back-button:hover path {
    fill: rgba(255, 255, 255, 1);
}
.fav-button {
    margin-bottom: 10px;
    top: 10px;
    box-shadow: 0 0 5px 10px rgba(255, 172, 172, 0);
    transition: all 0.1s;
}
.fav-button:hover path {
    fill: #ffacac;
}
.fav-button:active {
    box-shadow: 0 0 0 0 #ffacac;
    transition: 0.1s;
}
.faved path {
    fill: #ffacac;
    transition: all 2s;
}
.faved:hover path{
    fill: rgb(125, 125, 125);
}
.svg-icon-fav {
    margin-top: 3px;
    transform: scale(.7);
}
.delete-button {
    top: 20px;
}
.delete-button:hover path {
    fill: #ffacac;
}
.edit-button {
    top: 10px;
}
.edit-button:hover path {
    fill: #c1bcf8;
}

.edit-mode {
    display: flex;
    justify-content: center;
}
.edit-form-cont {
    position: relative;
    width: fit-content;
}
.back-button-form {
    width: fit-content;
    position: fixed;
    top: 240px;
    left: 50px;
}