.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container {
    height: fit-content;
    min-height: 250px;
    min-width: 500px;
    background-color: rgb(42, 42, 42);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.modal.is-open {
    display: flex;
}
.modal-container h1 {
    font-size: 2rem;
    margin-top: 10px;
}
.modal-container p {
    font-size: 1.5rem;
}
.dog-name {
    color: chocolate;
    border-bottom: 2px #fff dashed;
}
.button-details {
    font-family: 'Neucha', cursive;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: rgb(255, 138, 55);
    border: none;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.button-ok {
    font-family: 'Neucha', cursive;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: rgb(110, 212, 255);
    border: none;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.button-delete {
    font-family: 'Neucha', cursive;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: rgb(255, 55, 55);
    border: none;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.button-ok:hover {
    background-color: rgb(199, 238, 255);
}
.button-details:hover {
    background-color: rgb(255, 201, 163);
}
.button-delete:hover {
    background-color: rgb(255, 115, 115);
}
.image-form-container {
    margin: 20px;
    width: 500px;
}
.def-img-button {
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.def-img {
    height: 150px;
    pointer-events: none;
}
.selected-img {
    height: 170px;
}
.def-img-button:hover {
    background-color: #FFCBCB;
    border-radius: 50%;
}
