/* normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.70)), url('./assets/background.jpg') no-repeat center center fixed;
    overflow: hidden;
    margin: 0;
    font-family: 'Neucha', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

body a {
  color: #FFFDDE;
  text-decoration: none;
}
body input {
    font-family: 'Neucha', cursive;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(255, 253, 222,.1);
}
::-webkit-scrollbar-thumb {
  background: #FFFDDE; 
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FFCBCB; 
}

@media (max-width: 850px) {
    /* details */
    .details-page-container {
        margin-top: 85px;
    }
    .details-header h1 {
        font-size: 2.5rem;
        transition: all .2s linear;
    }
    .details-container {
        flex-direction: column;
        width: -webkit-fill-available;
    }
    .detail-image {
        margin-bottom: 1rem;
    }
    .icon-stars {
        left: 100px;
    }
    /* form */
    .edit-mode {
        display: unset;
    }
    .edit-form-cont {
        width: unset;
    }
}

@media (min-width: 590px) {
    /* home */
    .logo {
        display: block;
    }
    .nav-buttons {
        margin-right: 50px;
        justify-content: flex-end;
    }
    .dpp-list {
        margin-left: 100px;
    }
    .total-results {
        margin-left: 100px;
    }
    /* details */
    .details {
        height: 450px;
    }
    /* about */
    .adobe {
        display: unset;
    }
}

@media (min-width: 850px) {
    /* home */
    .home {
        flex-direction: row;
    }
    .navBar {
        margin-bottom: 45px;
    }
    .nav-buttons {
        border-bottom: #fffdde 2px dashed;
    }
    .filters {
        height: 675px;
        margin-top: 40px;
        min-width: 230px;
    }
    .filters h2 {
        opacity: 0;
    }
    .filter-container {
        flex-direction: column;
        height: 600px;
        border-radius: 0 15px 15px 0;;
    }
    .border-menu-button {
        display: none;
    }
    .search-button {
        right: 15px;
    }
    .pages-container {
        display: unset;
        left: 48.5%;
    }
    /* formulario */
    .form-box-container {
        width: 850px;
    }
    .form-page {
        overflow: hidden;
    }
    .border-form-container {
        width: fit-content;
        overflow-y: auto;
    }
    .inputs-containers {
        flex-direction: row;
    }
    .inputs-container-a {
        margin-right: 45px;
        margin-bottom: 0px;
    }
    .name-verfication {
    right: -6px;
}
    /* favorites */
    .container-favs-page {
        margin-top: 10px;
    }
    /* about */
    .about-border {
        margin-top: 0px;
    }
    .about-container {
        border-top: none;
    }
    .about-text {
        width: 500px;
    }
    /* details */
}
@media (min-width: 1175px) {
    /* formulario */
    .back-button-form {
        position: absolute;
        top: 45px;
        left: -50px;
    }
    .home-top-bar {
        justify-content: flex-end;
    }
    .results-page-box {
        justify-content: flex-end;
    }
    /* about */
    .about-box {
        flex-direction: row;
    }
}

@media (min-width: 1300px) {
    /* details */
    .details-buttons-container {
        position: absolute;
        top: 45px;
        left: -50px;
    }
    .details-button {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .border-details-container {
        width: fit-content;
    }
    .details-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
    }
    .details-body {
        flex-direction: row-reverse;
    }
    .detail-image {
        margin-bottom: 0;
    }
    .details {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 400px;
        height: 450px;
        margin-right: 50px;
        margin-top: 0;
    }
    .desc-text {
        max-width: 400px;
        height: 180px;
        overflow-y: auto;
    }
    /* formulario */
    .back-button-form {
        position: absolute;
        top: 45px;
        left: -50px;
    }
    /* home */
    .cardContainer {
        padding-bottom: 60px;
    }

    .about-container {
        height: -webkit-fill-available;
    }
}