.container-favs-page {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: -webkit-fill-available;
    margin-top: 25px;
    padding-bottom: 100px;
}

.favs-buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 2.5rem;
    z-index: 20;
}
.favs-button-border {
    background-color: rgba(117, 117, 117, .3);
    margin-right: 10px;
    padding: 4px 0 0 0;
    border-radius: 20px 20px 0 0;
}
.button {
    font-family: 'Neucha', cursive;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0);
    min-height: 25px;
    padding: 10px 15px 0 15px;
    border: none;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    transition: all 0.1s;
}
.active-bg {
    background-color: black;
    padding: 9px;
    border-radius: 30px 30px 0 0;
}
.active-button {
    background-color: rgb(0, 0, 0);
    color: #FFFDDE;
    border-top: #FFFDDE 2px dashed ;
    border-left: #FFFDDE 2px dashed ;
    border-right: #FFFDDE 2px dashed ;
    height: 44px;
}

.fav-box-border {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0) 100%);
    height: 500px;
    padding: 10px;
}
.fav-box {
    border-top: #FFFDDE 2px dashed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: -webkit-fill-available;
    overflow-y: auto;
    padding: 50px 0 100px 0;
}
