.home {
    display: flex;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: -webkit-fill-available;
}
.loading img {
    animation: Loading-img-spin infinite 1s linear;
}
@keyframes Loading-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};