.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: -webkit-fill-available;
    padding-top: 10px;
    padding-bottom: 100px;
    overflow-y: auto;
}