.card {
    background-color: rgba(0, 0, 0, .3);
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 20rem;
    padding: 1rem;
    margin: .25rem;
    border-radius: 10px;
    border: 1px rgba(255, 255, 255, .0) solid;
    cursor: pointer;
    transition: all 0.2s ease;
}
.dog-name-card {
    text-align: center;
    font-size: 1.2rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-option {
    display: flex;
    height :21px;
    align-items: flex-end;
}
.temps-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88px;
}
.temps-section span {
    margin-bottom: 3px;
}
.cardTemps {
    max-height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
.tempTag{
    display: flex;
    align-items: center;
    background-color: rgba(125, 125, 125, .7);
    height: 1.2rem;
    border-radius: 10px;
    margin: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
}
.card:hover {
    margin-top: -6px;
    border: 1px rgba(255, 255, 255, .3) solid;
    box-shadow: 0px 10px 20px black;
}

.createdDog {
    position: absolute;
    transform: scale(.5);
    top: 0;
    left: 0;
}
.createdDog path {
    fill: #E7FBBE;
}
.favedDog {
    position: absolute;
    transform: scale(.5);
    top: 0;
    right: 0;
}
.favedDog path {
    fill: #FFCBCB;
}