.about-container {
    font-size: 1.5rem;
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px dashed #FFFDDE;
    padding: 50px 0 100px 0;

}
.about-border {
    background-color: rgb(255, 253, 222);
    border-radius: 25px;
    padding:  5px;
    margin-top: 50px;
}
.about-box {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding: 20px;
    border: black 2px dashed;
    border-radius: 20px;
}
.about-box a {
    color: black;
}
.about-text {
    width: -webkit-fill-available;
}
.about-text h1 {
    font-size: 1.6rem;
}
.sent {
    margin: 10px;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.logos img {
    height: 100px;
    margin: 20px;
}
.adobe {
    display: flex;
}